<template>
  <v-card
    class="mx-auto my-12 d-flex"
    max-width="800"
    elevation="8"
    shaped
  >
    <div class="login-background">
      <div class="text-1">
        Welcome to
      </div>
      <div class="text-2">
        ...
      </div>
    </div>
    <div class="form-login">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(login)">
          <ValidationProvider
            v-slot="{ errors }"
            name="Username"
            rules="required"
          >
            <v-text-field
              v-model="user.username"
              class="username-input"
              label="Username"
              placeholder="Username"
              required
              @keyup.enter="login"
            />
            <span class="text-validate">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            v-slot="{ errors }"
            name="Password"
            rules="required"
          >
            <v-text-field
              v-model="user.password"
              label="Password"
              placeholder="Password"
              type="password"
              required
              @keyup.enter="login"
            />
            <span class="text-validate">{{ errors[0] }}</span>
          </ValidationProvider>
          <v-btn
            class="justify-center mt-5 btn-login"
            color="primary"
            elevation="7"
            rounded
            type="submit"
          >
            Sign in
          </v-btn>
        </form>
      </ValidationObserver>
      <div
        class="register-password mt-4 d-flex justify-sm-end"
        @click="registerAccount"
      >
        Register
      </div>
    </div>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        user: {
          username: null,
          password: null,
        },
      }
    },
    methods: {
      registerAccount () {
        console.log('Login response1')
        this.$router.push('register-account')
        console.log('Login response2')
      },
      async login () {
        const request = {
          username: this.user.username ? this.user.username : null,
          password: this.user.password ? this.user.password : null,
        }
        const response = await this.$store.dispatch('auth/login', request)
        console.log('Login response', response)
        if (response.data) {
          this.$cookies.set('Authorization', "Token " + response.data)
          this.$router.push('student-list')
        } else {
          alert('Username or Password is incorrect')
        }
      },
    },
  }
</script>
<style scoped>
.login-background {
    width: 400px;
    height: 500px;
    background-color: #4CAF50;
}
.text-1 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui;
    margin-top: 190px;
    letter-spacing: 2px;
}
.text-2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: system-ui;
    letter-spacing: 2px;
}
.form-login {
    width: 400px;
    padding: 20px;
}
.username-input {
    margin-top: 100px;
}
.btn-login {
    width: 100% !important;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 3px;
}
.text-3 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    color: gray;
}
.social-network {
    text-align: center;
    margin-top: 30px;
}
.register-password {
    color: gray;
    cursor: pointer;
}
.register-password:hover {
    color: rgb(14, 110, 140);
}
.text-validate {
    font-size: 12px;
    color: red;
}
</style>
