<template>
  <div>
    <h1>Student page</h1>
    <student-list />
   
  </div>
</template>

<script>
  import StudentList from './StudentList.vue'
  export default {
    components: {
      StudentList,
    },
    data () {
      return {
      }
    },
    async created () {
      await this.$store.dispatch('student/getAllStudents')
    },
    methods: {
    },
  }
</script>

<style></style>
