<template>
  <div class="mt-5">
    <v-card
      v-for="(student, index) in studentList"
      :key="student.id"
      elevation="2"
      class="student-list"
    >
      <v-row>
        <v-col
          cols="12"
          md="2"
        >
          <v-list-item>
            <v-list-item-content>
              <div class="mb-2 font-weight-bold">
                STT
              </div>
              <v-list-item-title class="mb-3">
                {{ index + 1 }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        
        <v-col
          cols="12"
          md="2"
        >
          <v-list-item>
            <v-list-item-content>
              <div class="mb-2 font-weight-bold">
                Code
              </div>
              <v-list-item-title class="mb-3">
                {{ student.studentCode }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        <v-col
          cols="12"
          md="2"
        >
          <v-list-item>
            <v-list-item-content>
              <div class="mb-2 font-weight-bold">
                Name
              </div>
              <v-list-item-title class="mb-3">
                {{ student.name }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-col>
        
      </v-row>
      <div class="group-btn">
        <div class="row">
          <v-btn
            outlined
            x-small
            color="blue"
            @click="viewTransactionHistory(transaction)"
          >
            <v-icon size="16">
              mdi-step-forward-2
            </v-icon>
          </v-btn>

          <v-btn
            outlined
            x-small
            color="green"
            @click="editTransaction(transaction)"
          >
            <v-icon size="16">
              mdi-pencil
            </v-icon>
          </v-btn>

          <v-btn
            outlined
            x-small
            color="red"
            @click="deleteTransaction(transaction)"
          >
            <v-icon size="16">
              mdi-delete
            </v-icon>
          </v-btn>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "student-list",
  data () {
    return {
    }
  },
  computed: {
    studentList () {
      return this.$store.state.student.studentList
    },
  },
  methods: {
    

    // editTutorial(id) {
    //   this.$router.push({ name: "tutorial-details", params: { id: id } });
    // },

    // deleteTutorial(id) {
    //   TutorialDataService.delete(id)
    //     .then(() => {
    //       this.refreshList();
    //     })
    //     .catch((e) => {
    //       console.log(e);
    //     });
    // },

    // getDisplayTutorial(tutorial) {
    //   return {
    //     id: tutorial.id,
    //     title: tutorial.title.length > 30 ? tutorial.title.substr(0, 30) + "..." : tutorial.title,
    //     description: tutorial.description.length > 30 ? tutorial.description.substr(0, 30) + "..." : tutorial.description,
    //     status: tutorial.published ? "Published" : "Pending",
    //   };
    // },
  },
};
</script>

<style>
.group-btn {
  position: absolute;
  top: 50px;
  right: 20px;
}
.group-btn button {
  margin: 10px 20px;
}
</style>